.row
	.col-md-6.col-md-offset-3
		h2.text-center {{'Dashboard' | translate}}

.row
	.col-md-6.col-md-offset-3
		.text-center(ng-hide='displayedFiles.length || error')
			i {{'Nothing new' | translate}}

		.error(ng-show='error') {{error | translate}}

		div(ng-show='displayedFiles.length', ng-repeat='datum in displayedFiles')
			.date-hdr 
				div {{datum | langDate}}

			table.table.table-nolines.table-condensed
				tr(ng-repeat='f in datum.files')
					td.active-cursor(ng-click='show(f)', title="{{'Show' | translate}}") {{f.name}}
					td.column-narrow {{f.size | zuzaBytes}}
					td.column-narrow {{f.owner}}
					td.column-thin
						a.fa.fa-download.active-cursor(ng-click='download(f)', title="{{'Download' | translate}}")
		
		div(ng-hide='noMoreFiles || error')
			.date-hdr
				.active-cursor.active-color(ng-click='displayMore()') {{'Older files' | translate}}
			.loading(ng-show='loading') {{'Loading...' | translate}}
				
		div(ng-show='noMoreFiles')
			.date-hdr
				div {{'No more' | translate}}
	.col-md-3
		a.btn.btn-primary.btn-lg.fa.fa-picture-o(ng-click='slideApi.run()', ng-disabled='slideApi.urls.length==0', title="{{'Slides' | translate}}")
